.calebdarWraper {
  display: grid;
  grid-template-columns: repeat(8, auto);
}
.oneSlot {
  padding: 1vh 0 1vh 0;
}

.headerDiv {
  margin: 3vh;
}

.headerH1 {
  display: inline;
  padding: 0 3vw;
}
.calendarButton {
  border-radius: 3vh;
  width: 10vw;
}
.Open {
  background-color: aquamarine;
}
.Close {
  background-color: burlywood;
}
.Reserved {
  background-color: cornflowerblue;
}

@media screen and (max-width: 600px) {
  .oneSlot {
    width: 10vw;
  }
}
