@font-face {
  font-family: Heebo-Medium;
  src: url(../static/fonts/heebo/Heebo-Medium.ttf);
}
@font-face {
  font-family: Heebo-Bold;
  src: url(../static/fonts/heebo/Heebo-Bold.ttf);
}
@font-face {
  font-family: blackjack;
  src: url(../static/fonts/blackjack/blackjack.otf);
}
