$base-color-1: #62909a;
$base-color-2: #f1dddc;
$background-color: #efefef;

//fonts
$general-font: "Heebo-Medium";
$general-bold-font: "Heebo-Bold";
$general-regular-font: "Heebo-Regular";
$nice-font: "blackjack";

//padding
$navbar-height: 7vh;
$footer-height: 8vh;
